*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wrapper{
    width:100%;
    height:100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
#weatherName{
      margin-top: 1rem;
      margin-bottom: 2rem; 
}
.btns{
    height:1.5rem;
    width:26rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.btn{
    cursor: pointer;
    letter-spacing: 0.05rem;
    margin-left: 0.6rem;
    text-align: center;
    appearance: none;
    border: none;
    background-color: transparent; 
    color: var(--colorLight1);
    font-size:small;
}
.tabCss{
    background-color: rgba(219, 226, 239, 0.5);
    padding: 0.3rem 1rem;
    border-radius:4px;
}
#weatherinfo{
    display: block;
    width:24rem;
    height:27rem;
    position: relative;
    top:-4.5rem;
    z-index: 1;
    
}
.loading{
    position: relative;
    left:7.6rem;
    width:8rem;
    height:8rem;
    text-align: center;
    transform: translate(10%,65%);
    scale:0;
}
#loadinggif{
    width:6rem;
    height:6rem;
    
}
#loadingText{
    transform: translateY(-0.5rem);
    transform: translateX(0.3rem);

}
#location{
    width:4rem;
    height: 4rem;
    margin-left:4.8rem;
    margin-top: 3.8rem;
}
.userlocation{
    position:absolute;
    left:5.4rem;
    top:-1rem;
    scale:0;
}
#accessGrant{
   margin-top: 1.3rem;
}
#allowp{
    margin-top: 0.2rem;
    font-size:0.68rem;
}
#grantaccess
{
    font-size: x-small;
    color:var(--colorLight1);
    appearance: none;
    border :none;
    margin-top: 0.8rem;
    margin-left: 3.5rem;
    background-color: rgba(219, 226, 239, 0.5);
    padding: 0.5rem 1rem;
    border-radius:4px;
    cursor: pointer;
}
#grantaccess:hover{
    background-color: rgba(219, 226, 239, 0.553);
}
.displayUserData{
    width:100%;
    height: 100%;
    position: relative;
     top:-5rem; 
    display:flex;
    align-items: center;
    flex-direction: column;
    row-gap:0.6rem;
    scale:0;
}
#weatherDataInfo{
    margin-top:0.6rem;
    display:flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-left: 0.2rem;
}
#ccName{
    justify-content: center;
    width:10rem;
    height:2rem;
    display: flex;
}
#cityName{
    font-size: large;
    margin-right: 0.4rem;
    
}
#countryFlag{
    width:1.3rem;
    height:1.3rem;
}
.wspec{
    background-color:rgba(219, 226, 239, 0.5);
    width:8rem;
    height:7rem;
    border-radius:0.3rem;
    text-align: center;
    gap: 0.5rem;
    
}
.wlogo{
    width:2.5rem;
    height:2.5rem;
    margin-top:0.5rem;
}
.winddata{
    margin-top:0.5rem;
}

.searchTab2{
    position:relative;
    top:0.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width:25rem;
    height:2rem;
    z-index: 2;
    scale:0;

}
#searchCity{
    width:23.5rem;
    border-radius: 1rem;
    border:none;
    margin-right: 0.5rem;
    background-color: rgba(219, 226, 239, 0.5);
    color: var(--colorLight1);
    padding: 0rem 1rem;
    font-size: medium;
}
#searchCity:focus{
    box-sizing: border-box;
    border: 1px solid var(--colorDark1);
}
#searchIcon{
    width:2rem;
    height: 2rem;
    margin-top: 0.2rem;
    cursor:pointer;
}
.notfound{
    position:absolute;
    top:6rem;
    left:4.7rem;
    width:15rem;
    height:15rem;
    justify-self: center;
    scale:0;
}

.active{
    scale:1;
}
.active1{
    margin-top: 2.5rem;
}
    

